/*************** Making Elements Block ***************/
header, footer, nav, section, article {
	display: block;
}

/*************** header ***************/
header {
	height: 0;
}

/*************** Navigation ***************/
#menu-wrap {
	border-bottom: none;
}

nav ul li.last {
 margin-right: 0;
}

/*************** Slider ***************/
#slider-wrap {
	display: none;
}

.follow-me{
	display: none;
}

/*************** About Content Left ***************/
.about {
	position: absolute;
	left: 23px;
	margin: 0 35px;
}

/*************** Main Content ***************/
#content-wrap {
	background: none;
	margin-top: 20px;
}
#content h1.main-title {
	margin: 0 40px 25px;
}

article.about-me {
	position: absolute;
	left: 0;
}

article.my-portfolio-index {
	position: absolute;
	left: 316px;
}

article.contact-me {
	position: relative;
	left: 572px;
}

/*************** Portfolio Content ***************/
.portfolio {
	margin-left: 29px;
}

/*************** About Sidebar ***************/
.information h2 {
	margin-bottom: 15px;
}

.information-menu {
	padding-bottom: 25px;
}

/*************** Sidebar ***************/
aside {
	position: absolute;
	right: 0;
}

/*************** Feedback ***************/
form {
	margin-top: -20px;
}

legend {
	margin-left: -6px;
	margin-bottom: 10px;
}

form input.full-name, input.email {
	padding-top: 8px;
	height: 33px;
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=4, offY=4, color=#e0e0e0);
}

form textarea {
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=4, offY=4, color=#e0e0e0);
}

form input.send {
	margin-top: 5px;
	background: #7ca0d3;
	cursor: hand;
}

/*************** Footer ***************/
footer ul li.last-item {
	border-right: none;
}
